{% extends 'home/base.html' %}
{% block title %}Blog{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% load static %}
{% block body %}

<style>
  .card-img {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: fill;
}

/* div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
</style>
  
  
  {% for i in allpost %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{i.image.url}}" class="card-img" alt="Blog Image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.content | safe | truncatechars_html:200}}</p>
          <a href="\blogPost\{{i.slug}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock body %}
<h1>Blogs</h1>
