{% extends 'home/base.html' %}
{% block title %}Blog{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% load static %}
{% block body %}

<style>
  .card-img {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: fill;
}

/* div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
</style>
  
  
  {% for i in page_obj %}
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{i.image.url}}" class="card-img" alt="Blog Image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p class="card-text">{{i.content | safe | truncatechars_html:200}}</p>
          <a href="\blogPost\{{i.slug}}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{ totalPage }}">Last Page</a></li>
    </ul>
  </nav>
{% endblock body %}
<h1>Blogs</h1>
