{% extends 'home/base.html' %}
{% block title %}Contact{% endblock title %}
{% block contactactive %}active{% endblock contactactive %}
{% block body %}
{% if messages %}
{% for i in messages %}
    <div class="alert alert-{{ i.tags }} alert-dismissible fade show" role="alert">
      <strong>Server Says:</strong> {{i.message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}
{% endif %}
<div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="name"
          name="name"
        />
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="content" class="form-label">Describe your issue:</label>
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="5"
          class="form-control"
        ></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock body %}